@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);

a:link, a:visited {
  text-decoration: none;
  color: #0000AA;
}

a:hover, input:focus {
  color: #0000EE;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

main {
  opacity: 0.9;
  background-image: url("../img/ricepaper_v3.png");
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 300%;
  margin: 0;
}

h2, h3 {
  color: #505050;
}

h2 {
  font-size: 150%;
  margin: 0;
}

h3 {
  font-size: 125%;
}

header {
  padding: 1em;
  background-color: #FA5A0F;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #EA4A00;
  color: #FFFFFF;
}

#head {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
}

#bar:link, #bar:visited {
  color: #55E;
}

#bar:hover, #bar:focus {
  color: #00E;
}

.container-fluid {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  padding: 1em;
}

#menu {
  background-color: rgba(207, 205, 140, 0.5);
}

dt {
  font-weight: 400;
}

dd {
  font-size: 80%;
  font-style: italic;
  margin-left: 1em;
  margin-bottom: 1em;
}

footer {
  padding: 1em;
  background-color: #FC892F;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #EC791F;
  font-size: 80%;
  text-align: right;
}

@media screen and (min-width: 992px) {
  
  body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 18px;
  }

  #head {
    font-size: 120%;
    color: #EEEEEE;
    margin: 0;
    display: inline;
  }

  main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 30%;
  }

  nav {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
